<!DOCTYPE html>
<html>
  	<head>
    	<title>{{title}}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/a7377eb1bd.js" crossorigin="anonymous"></script>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
		<script src="/javascripts/calls.js" type="text/javascript"></script>
  	</head>
  	<body class="{{bodyClass}}">
	
	{{> navbar active}}

{{!-- 	{{#if expressFlash}}
		<p><strong>FLASH!</strong> {{ expressFlash }}</p>
	{{/if}}
	{{#if sessionFlash.message}}
		<div class="{{ sessionFlash.type }}">
			<strong>FLASH!</strong> {{ sessionFlash.message }}
		</div>
	{{/if}} --}}

	<div class="container-fluid">
		<div class="row">

			{{> sidebar active}}

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				
    			{{{ body }}}

				{{> footer}}

			</main>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/autocomplete.js"></script>
	// <script type="text/javascript">
	// 	$(document).ready(() => {
	// 		$('a.limit').on('hover', () => {
	// 			console.log($(this));
	// 			$('a.limit').css('backgroundColor', '#e9ecef');
	// 		})
	// 	});
	// </script>
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace();
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script>
      	var ctx = document.getElementById("myChart");
      	var myChart = new Chart(ctx, {
        	type: 'line',
        	data: {
          	labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          	datasets: [{
            	data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            	lineTension: 0,
            	backgroundColor: 'transparent',
            	borderColor: '#007bff',
            	borderWidth: 4,
            	pointBackgroundColor: '#007bff'
          	}]
        	},
        	options: {
          	scales: {
            	yAxes: [{
              	ticks: {
                	beginAtZero: false
              	}
            	}]
          	},
          	legend: {
            	display: false,
          	}
        	}
      	});
    </script>
  </body>
</html>