<div class="container wrapper">
    <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Search toggle">
        <div class="btn-group mr-2" role="group" aria-label="Search or Add">
            <button type="button" class="btn btn-sm btn-outline-secondary search-toggle active">Search</button>
            <button type="button" class="btn btn-sm btn-outline-secondary add-toggle">Add</button>
        </div>
    </div>
    <div id="customer-filters">
        <h3 class="mb-4">Customer Records</h3>
        <div id="search-customer-dialog" class="input-group w-100 mb-2">
        <input type="text" id="find-customer" class="form-control customer-search customer-lookup" placeholder="Begin typing to search..." aria-label="Search for customers" aria-describedby="button-new-customer" name="new-customer" data-in_house={{#if pageOptions.match.in_house }}"true"{{else}}"false"{{/if}}>
            <div class="input-group-append btn-group" id="in-house-filter">
                <a href="?inHouse=true" class="btn btn-secondary {{#if pageOptions.match.in_house }}active{{/if}}" id="in-house-true" type="button">In House</a>
                <a href="?inHouse=false" class="btn btn-secondary {{#unless pageOptions.match.in_house }}active{{/unless}}" id="in-house-false" type="button">External Customers</a>
            </div>
        </div>
    </div>
    <div id="add-customer-dialog" style="display: none;">
        <h3 class="mb-4">New Customer</h3>
        <div id="new-customer-dialog" class="input-group w-100 mb-2">
        <input type="email" class="form-control" id="lookup-email" placeholder="Customer email" aria-label="Email address for new customer" aria-describedby="button-new-customer" name="new-customer">
            <div class="input-group-append" id="button-new-customer">
                <button class="btn btn-primary" id="bc-lookup" type="button">Lookup customer</button>
                <button class="btn btn-info" id="manual-add" type="button">Manual add</button>
            </div>
        </div>
    </div>
    <form id="new-customer" style="display: none;">
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="companyName">Company</label>
                <input type="text" class="form-control" id="companyName" placeholder="Enter company name">
            </div>
            <div class="form-group col-md-3">
                <label for="inHouse">In-House</label>
                <select class="form-control" id="inHouse">
                    <option value="">Select</option>
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
            </div>
        </div>
        <div>
            <span class="muted">Contact Information</span>
            <hr />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="customerFirstName">First Name</label>
                <input type="text" class="form-control" id="customerFirstName" placeholder="Sam">
            </div>
            <div class="form-group col-md-6">
                <label for="customerLastName">Last Name</label>
                <input type="text" class="form-control" id="customerLastName" placeholder="Seriff">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="customerEmail">Email</label>
                <input type="email" class="form-control" id="customerEmail" placeholder="sam.seriff@aol.com">
            </div>
            <div class="form-group col-md-6">
                <label for="customerPhone">Telephone</label>
                <input type="tel" class="form-control" id="customerPhone" placeholder="216 867 5309">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submitCustomer">Submit</button>
    </form>
</div>
<div class="container wrapper">
{{!--     <div id="customer-list"></div> --}}
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Contact <a href="?inHouse={{#if pageOptions.match.in_house}}true{{else}}false{{/if}}&sortBy=contact_last&orderBy={{#if pageOptions.order}}desc{{else}}asc{{/if}}"><i class="fas fa-sort sort"></i></a></th>
            <th scope="col">Company <a href="?inHouse={{#if pageOptions.match.in_house}}true{{else}}false{{/if}}&sortBy=company&orderBy={{#if pageOptions.order}}desc{{else}}asc{{/if}}"><i class="fas fa-sort sort"></i></a></th>
            <th scope="col">Phone</th>
            <th scope="col">Email <a href="?inHouse={{#if pageOptions.match.in_house}}true{{else}}false{{/if}}&sortBy=email&orderBy={{#if pageOptions.order}}desc{{else}}asc{{/if}}"><i class="fas fa-sort sort"></i></a></th>    
        </thead>
        <tbody>
            {{#each customer }}
                <tr class="results" data-id="{{this._id}}">
                    <th scope="col">{{math @index "+" ../pageOptions.index }}</th>
                    <td>
                    {{#if this.contact_last}}{{ this.contact_last }}, {{ this.contact_first }}{{else}}---{{/if}}</td>
                    <td>{{ this.company }}</td>
                    <td>{{ this.phone }}</td>
                    <td>{{ this.email }}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-4">
            <div class="dropdown">
                <a class="btn btn-outline-primary btn-sm limit dropdown-toggle" href="#" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Limit {{ pageOptions.limit }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?limit=25&sortBy=updatedAt&orderBy=asc">25</a>
                    <a class="dropdown-item" href="?limit=50&sortBy=updatedAt&orderBy=asc">50</a>
                    <a class="dropdown-item" href="?limit=100&sortBy=updatedAt&orderBy=asc">100</a>
                </div>
            </div>            
        </div>
        <div class="col-sm-8">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {{#each pageOptions.pagination }}
                        <li class="page-item"><a class="page-link {{#if this.current}}active{{/if}}" href="?skip={{this.skip}}">{{this.page}}</a></li>
                    {{/each}}
                </ul>
            </nav>            
        </div>
    </div>
</div>
<script src="./javascripts/customer.js" type="text/javascript"></script>