<div class="wrapper container-fluid">
	<h4 class="mb-4">Customer Info</h4>
	<div class="card" id="customer-info" data-id="{{customer._id}}">
		{{#if customer.in_house }}
		<div class="card-header">In-House</div>
		{{/if}}
		<div class="card-body">
			<div class="row">
				<div class="col-sm-11">
					<h5 class="card-title">
						<span class="edit" data-key="company">{{customer.company}}</span>
					</h5>
				</div>
				<div class="col-sm-1 text-right">
					<i class="fas fa-pencil-alt"></i>					
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-sm-12">
					<p class="card-text"><strong>Contact Information</strong></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11">
					<p class="card-text">
						<span class="key">First name: </span>
						<span class="edit" data-key="contact_first">
							{{customer.contact_first}}
						</span>
					</p>
				</div>
				<div class="col-sm-1 text-right"><i class="fas fa-pencil-alt"></i></div>
			</div>
			<div class="row">
				<div class="col-sm-11">
					<p class="card-text">
						<span class="key">Last name: </span>
						<span class="edit" data-key="contact_last">
							{{customer.contact_last}}
						</span>
					</p>
				</div>
				<div class="col-sm-1 text-right"><i class="fas fa-pencil-alt"></i></div>
			</div>
			<div class="row">
				<div class="col-sm-11">
					<p class="card-text">
						<span class="key">Phone: </span>
						<span class="edit" data-key="phone">
							{{customer.phone}}
						</span>
					</p>
				</div>
				<div class="col-sm-1 text-right"><i class="fas fa-pencil-alt"></i></div>
			</div>
			<div class="row">
				<div class="col-sm-11">
					<p class="card-text">
						<span class="key">Email: </span>
						<span class="edit" data-key="email">
							<a href="mailto:{{customer.email}}" id="customer-email-link" target="_blank">{{customer.email}}</a>
						</span>
					</p>
				</div>
				<div class="col-sm-1 text-right"><i class="fas fa-pencil-alt"></i></div>
			</div>
			<div class="row notes">
				<div class="col-sm-11">
					<span class="key">Notes: </span><span class="edit" id="notes" data-key="notes">{{customer.notes}}</span>
				</div>
				<div class="col-sm-1 text-right"><i class="fas fa-pencil-alt notes"></i></div>	
			</div>
			<div class="row notes-entry">
				<div class="col-sm-11">
					<textarea id="notes-area" class="w-100" rows="4">{{customer.notes}}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary btn-sm save-on-change save float-sm-right">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	{{#if customer.orders}}
    <h5 class="mb-4 mt-4">Orders</h5>
	<table class="table" id="orders-table">
		<thead class="table-active">
			<th scope="col"><input type="checkbox" class="" id="order-select-all"></th>
			<th scope="col">#</th>
			<th scope="col">Artwork</th>
			<th scope="col">Qty</th>
			<th scope="col">Status</th>
			<th scope="col" style="opacity: 0;">Details</th>
		</thead>
		<tbody>
		{{#each customer.orders }}
			<tr class="order-results" data-status="{{this.status._id}}" data-id="{{this._id}}">
				<td><input type="checkbox"></td>
				<td class="order-number">{{this.order_number}}</td>
				<td class="order-details-header">				<a class="art-link" target="_blank" 
						{{#if this.artworkHref}}
						href="{{this.artworkHref}}"
						{{else}}
						href="#"
						{{/if}}>
						{{this.artwork}}
					</a>
				</td>
				<td class="order-details-header">{{this.qty}}</td>
				<td class="order-details-header status">{{this.status.status}}</td>
				<td class="text-center"><i class="fas fa-search open-order"></i></td>
			</tr>
			<tr class="order-edit" id={{this._id}}>
				<td></td>
				<td colspan="5">
					<table class="table-sm nested w-100" data-id="{{this._id}}" data-order_number="{{this.order_number}}">
						<tr class="d-flex" data-key="artwork">
							<td class="table-key col-sm-2"><strong>Artwork: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									<a class="art-link" target="_blank" 
										{{#if this.artworkHref}}
											href="{{this.artworkHref}}"
										{{else}}
											href="#"
										{{/if}}>
										{{this.artwork}}
									</a>
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex" data-key="dimensions">
							<td class="table-key col-sm-2"><strong>Dimensions: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.dimensions.dim1}}" x {{this.dimensions.dim2}}"
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex select" data-key="laminate">
							<td class="table-key col-sm-2"><strong>Laminate: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.laminate}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex select" data-key="machine">
							<td class="table-key col-sm-2"><strong>Machine: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.machine}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex" data-key="qty">
							<td class="table-key col-sm-2"><strong>Quantity: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.qty}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex" data-key="upc">
							<td class="table-key col-sm-2"><strong>UPC: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.upc}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex select" data-key="status">
							<td class="table-key col-sm-2"><strong>Status: </strong></td>
							<td class="status col-sm-8">
								<span class="edit input-swap" data-status="{{this.status.status}}">
									{{this.status.status}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						{{#if this.outsourced}}
						<tr class="d-flex" data-key="outsourced_company">
							<td class="table-key col-sm-2"><strong>Outsourced: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.outsourced_company}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex" data-key="po">
							<td class="table-key col-sm-2"><strong>Purchase Order: </strong></td>
							<td class="col-sm-8">
								<span class="edit input-swap">
									{{this.po}}
								</span>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						{{/if}}
						<tr class="d-flex notes" data-key="notes">
							<td class="table-key col-sm-2"><strong>Notes: </strong></td>
							<td class="col-sm-8">
								<span class="edit">
									{{this.notes}}
								</span>
								<textarea class="w-100 form-control form-control-sm" style="display: none;">
									{{this.notes}}
								</textarea>
							</td>
							<td class="text-right col-sm-2">
								<i class="fa fa-pencil-alt"></i>
							</td>
						</tr>
						<tr class="d-flex">
							<td class="col-sm-12">
								<button class='btn btn-primary btn-sm float-sm-right save save-order'>Save changes</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	{{/if}}
</div>
<div id="toolbar" class="fixed-bottom text-right" style="display: none;">
	<div class="btn-group" role="group" aria-label="Bulk edit toolbar">
		<button type="button" id="statusChange" class="btn btn-secondary dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>Change status </button>
    	<div class="dropdown-menu" id="dropdown-statuses" aria-labelledby="statusChange">
			{{!-- Render statuses here --}}
    	</div>
		<button type="button" id="save-all" class="btn btn-primary disabled" disabled>Save all</button>
	</div>	
</div>
<script src="../javascripts/customerProfile.js" type="text/javascript"></script>