<!-- Button trigger modal -->
<div class="wrapper container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal">
    New Order
    </button>
</div>
<div class="text-right">
    <div class="btn-group btn-group-sm w-100 justify-content" role="group" aria-label="table display">
        <a href="/orders/order-queue" class="btn btn-sm order-filter order-queue {{#if active.order-queue}}active-queue{{else}}inactive-queue{{/if}}">Order queue</a>
        <a href="/orders/production-queue" class="btn btn-sm order-filter production-queue {{#if active.production-queue}}active-queue{{else}}inactive-queue{{/if}}">Production queue</a>
        <a href="/orders/outsourced" class="btn btn-sm order-filter outsourced-queue {{#if active.outsourced }}active-queue{{else}}inactive-queue{{/if}}">Outsourced</a>
        <a href="/orders/on-hold" class="btn btn-sm order-filter onhold-queue {{#if active.on-hold}}active-queue{{else}}inactive-queue{{/if}}">On hold</a>
        <a href="/orders/completed" class="btn btn-sm order-filter completed-queue {{#if active.completed}}active-queue{{else}}inactive-queue{{/if}}">Completed</a>
        <a href="/orders/cancelled" class="btn btn-sm order-filter cancelled-queue {{#if active.cancelled}}active-queue{{else}}inactive-queue{{/if}}">Cancelled</a>
    </div>
</div>   
<div class="container-fluid wrapper {{filter}}" id="order-table">
    <table class="table orders">
        {{!-- ORDER QUEUE HEADERS --}}
        {{#if active.order-queue}}
        <thead>
            <th><input type="checkbox" name="select-all"></th>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Artwork</th>
            <th scope="col">Quantity</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Laminate</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th></th>
        </thead>
        {{/if}}
        {{!-- COMPLETED QUEUE HEADERS --}}
        {{#if active.completed}}
        <thead>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Artwork</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date closed</th>
        </thead>
        {{/if}}
        {{!-- CANCELLED QUEUE HEADERS --}}
        {{#if active.cancelled}}
        <thead>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Artwork</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date closed</th>
        </thead>
        {{/if}}
        <tbody>
        {{!-- ORDER QUEUE --}}
        {{#if active.order-queue}}
            {{#each order}}
            <tr class="results" data-id="{{this._id}}" {{#if this.customer}}data-customer="{{this.customer._id}}"{{/if}}>
                <td><input type="checkbox" name=""></td>
                <td>{{this.order_number}}</td>
                <td>
                {{#if this.customer}}
                    <a class="art-link" href="/customers/{{this.customer._id}}">{{this.customer.contact_last}}, {{this.customer.contact_first}}</a>
                    {{else}}---,---{{/if}}
                </td>
                <td><a class="art-link" target="_blank" 
                        {{#if this.artworkHref}}
                        href="{{this.artworkHref}}"
                        {{else}}
                        href="#"
                        {{/if}}>
                        {{this.artwork}}
                    </a>
                </td>
                <td>{{this.qty}}</td>
                <td>{{this.dimensions.dim1}}" x {{this.dimensions.dim2}}"</td>
                <td>{{this.laminate}}</td>
                <td class="status">{{this.status}}</td>
                <td>{{readableDate this.created_at}}</td>
                <td class="edit-order"><i class="fas fa-search"></i></td>
            </tr>
            <tr class="hidden-details">
                <td colspan="10" class="details-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-borderless table-sm nested w-80" data-order="{{this._id}}">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="row" colspan="3">
                                            Order details
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-key="order_number">
                                        <th scope="col">Order number:</th>
                                        <td>{{this.order_number}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="customer">
                                        <th scope="col">Customer:</th>
                                        <td>{{this.customer.contact_last}}, {{this.customer.contact_first}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="artwork">
                                        <th scope="col">Artwork:</th>
                                        <td>{{this.artwork}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="qty">
                                        <th scope="col">Quantity:</th>
                                        <td>{{this.qty}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="dimensions">
                                        <th scope="col">Dimensions:</th>
                                        <td>{{this.dimensions.dim1}}" x {{this.dimensions.dim2}}"</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="laminate">
                                        <th scope="col">Laminate:</th>
                                        <td>{{this.laminate}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="machine"> 
                                        <th scope="col">Machine:</th>
                                        <td>{{this.machine}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="status">
                                        <th scope="col">Status:</th>
                                        <td><span class="status">{{this.status}}</span></td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                    <tr data-key="created_at">
                                        <th scpope="col">Order date:</th>
                                        <td>{{readableDate this.created_at}}</td>
                                        <td><i class="fa fa-pencil-alt"></i></td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-borderless table-sm nested w-80">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="row">Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-sm-11">
                                                    {{this.notes}}
                                                </div>
                                                <div class="col-sm-1">
                                                    <i class="fa fa-pencil-alt"></i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row float-right">
                        <button class="btn btn-primary btn-sm save-details">Save</button>
                    </div>
                </td>
            </tr>
            {{/each}}
        {{/if}}
        {{!-- COMPLETED QUEUE --}}
        {{#if active.completed}}
            {{#each order}}
            <tr class="results" data-id="{{this._id}}" {{#if this.customer}}data-customer="{{this.customer._id}}"{{/if}}>
                <td>{{this.order_number}}</td>
                <td>
                {{#if this.customer}}
                    <a class="art-link" href="/customers/{{this.customer._id}}">{{this.customer.contact_last}}, {{this.customer.contact_first}}</a>
                    {{else}}---,---{{/if}}
                </td>
                <td><a class="art-link" target="_blank" 
                        {{#if this.artworkHref}}
                        href="{{this.artworkHref}}"
                        {{else}}
                        href="#"
                        {{/if}}>
                        {{this.artwork}}
                    </a>
                </td>
                <td>{{this.qty}}</td>
                <td>{{this.updatedAt}}</td>
            </tr>
            {{/each}}
        {{/if}}
        {{!-- CANCELLED QUEUE --}}
        {{#if active.cancelled}}
            {{#each order}}
            <tr class="results" data-id="{{this._id}}" {{#if this.customer}}data-customer="{{this.customer._id}}"{{/if}}>
                <td>{{this.order_number}}</td>

                <td><a class="art-link" target="_blank" 
                        {{#if this.artworkHref}}
                        href="{{this.artworkHref}}"
                        {{else}}
                        href="#"
                        {{/if}}>
                        {{this.artwork}}
                    </a>
                </td>
                <td>{{this.qty}}</td>
                <td>{{readableDate this.updatedAt}}</td>
            </tr>
            {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Create New Order(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ui-front">
        <form id="create-orders">
            <input type="hidden" class="invisible" name="customerId" id="customer-id">
            <input type="hidden" class="invisible" name="exists-in_house" id="exists-in_house">
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">
                        Client:
                    </legend>
                    <div class="col-sm-10">
                        <div class="form-check radios">
                            <input class="form-check-input" id="customerRadio1" type="radio" name="customerRadio" value="0" checked>
                            <label class="form-check-label" for="customerRadio1">
                                Existing Customer
                            </label>
                        </div>
                        <div class="form-check radios">
                            <input class="form-check-input" id="customerRadio2" type="radio" name="customerRadio" value="1">
                            <label class="form-check-label" for="customerRadio2">
                                NEW Customer
                            </label>
                        </div> 
                    </div>
                </div>
            </fieldset>
            <div class="form-row">
                <div class="col-md-12">
                    <label for="inputCustomer">Search Customers</label>
                    <input type="text" class="form-control customer-lookup" id="search-customers" placeholder="Start typing to search...">
                </div>
            </div>
            <div class="new-customer">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="companyName">Company</label>
                        <input type="text" name="company" class="form-control" id="companyName" placeholder="Enter company name">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inHouse">In-House</label>
                        <select class="form-control" name="inHouse" id="inHouse">
                            <option value="">Select</option>
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                </div>
                <div>
                    <span class="muted">Contact Information</span>
                    <hr />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="customerFirstName">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="customerFirstName" placeholder="Sam">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="customerLastName">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="customerLastName" placeholder="Seriff">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="customerEmail">Email</label>
                        <input type="email" name="email" class="form-control" id="customerEmail" placeholder="sam.seriff@aol.com">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="customerPhone">Telephone</label>
                        <input type="tel" name="phone" class="form-control" id="customerPhone" placeholder="216 867 5309">
                    </div>
                </div>                
            </div>
            <button type="button" class="btn btn-primary new-customer continue" disabled>Continue</button>
            {{!-- Begin Order details Form --}}
            <div class="order-details">
                <div class="form-row">
                    <div class="col-md-11">
                        <span class="muted">Order Information</span>
                        <hr />
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary add-orders">
                            <i class="far fa-plus-square"></i>
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="orderNumber-1">Order #</label>
                        <input type="text" name="orderNumber-1" class="form-control" id="orderNumber-1" placeholder="#100000000">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="upc-1">UPC</label>
                        <input type="text" name="upc-1" class="form-control" id="upc-1" placeholder="111111111111">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="po-1">PO #</label>
                        <input type="text" name="po-1" class="form-control" id="po-1" placeholder="12345">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="qty-1">Quantity</label>
                        <input type="text" name="qty-1" class="form-control" id="qty-1" placeholder="100">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="priority-1">Priority</label>
                        <select class="form-control" name="priority-1" id="priority-1">
                            <option value="false">Normal</option>
                            <option value="true">Rush</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="artwork-1">Artwork</label>
                        <input type="text" name="artwork-1" class="form-control" id="artwork-1">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="height-1">Height</label>
                        <input type="text" name="dim1-1" class="form-control" id="height-1" placeholder="1.15">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="width-1">Width</label>
                        <input type="text" name="dim2-1" class="form-control" id="width-1" placeholder="5.25">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="laminate-1">Laminate</label>
                        <select class="form-control" name="laminate-1" id="laminate-1">
                            <option>Matte</option>
                            <option>High Gloss</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="notes-1">Notes</label>
                        <textarea class="form-control" name="notes-1" id="notes-1" rows="2"></textarea> 
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="submit-orders" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{!-- <div class="container results-wrapper">
    <div id="customer-list"></div>
</div> --}}
<script src="../javascripts/order.js" type="text/javascript"></script>
<script src="../javascripts/edits.js" type="text/javascript"></script>